<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/css/styles.css" rel="stylesheet" th:href="@{css/styles.css}">
    <link href="../../static/css/white_dark.css" rel="stylesheet" th:href="@{css/white_dark.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the login site of the üzeneteSZTEK webapplication."/>
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">

<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">
            üzeneteSZTEk
        </h1>
        <!--- TODO: href thymeleaf --->
        <button class="float-right my-4 mx-8 px-5 border-t-2 text-gray-500 text-xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl">
            Log Out
        </button>
    </div>
</header>
<div class="bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 bord hat">
    <nav class="space-x-56">
        <a class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov"
           th:href="@{/}">
            Main
        </a>
        <a class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord"
           th:href="@{/profile}">
            Profile
        </a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov"
           th:href="@{/topics}">
            Topics
        </a>
    </nav>
</div>

<div class="flex flex-row-reverse">
    <!-- White/Dark Theme Button -->
    <button class="absolute" id="toggle-white-mode"></button>
    <label class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current label hat bord" for="toggle-white-mode">
        <i class="text-teal-700 relative"><img height="20" src="../static/images/dark_mode.png" th:src="@{images/dark_mode.png}"
                                               width="20">
        </i>
        <i class="text-teal-700 relative"><img height="20" src="../static/images/white_mode.png" th:src="@{images/white_mode.png}"
                                               width="20">
        </i>
    </label>
</div>

<div class="w-10/12 border-t-4 border-blue-800 rounded-3xl justify-center m-auto bord">
    <div class="w-8/12 justify-center m-auto ">

        <!-- Switch Login/Register -->
        <div class="py-4 flex">

            <!-- Login Button -->
            <div class="flex flex-row m-auto">
                <a  class="bg-teal-700 toggle-btn border-l-2 border-r-2 rounded-2xl border-blue-800 text-3xl px-4 text-gray-500 szov bord" >
                    Login
                </a>
            </div>

            <!-- Register Button --> <!-- TODO: th:href reg.html -->
            <div class="flex flex-row-reverse m-auto">
                <a th:href="@{/reg}"class="toggle-btn border-l-2 border-r-2 rounded-2xl border-blue-800 text-3xl px-4 text-gray-500 szov bord">
                    Register
                </a>
            </div>

        </div>

        <!-- Input Fields -->
        <div class="flex flex-row justify-center py-4">
            <div class=" border-r-4 border-t-4 border-blue-800 rounded-3xl bord formbox">



                <div class="absolute" id="log">

                    <!-- Login -->
                    <div class="py-4 absolute">
                        <form name="login" th:action="@{/login}" method="post">
                            <div th:if="${param.error}">Error message</div>
                            <!-- Email -->
                            <div class="flex flex-row justify-center py-2">

                            <!-- TODO: switch back to email based authentication -->
<!--                                <label for="login_email"></label>-->
<!--                                <input class=" input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       name="login_email" id="login_email" placeholder="Email address" type="email" required="required">-->
                                <label for="login_username"></label>
                                <input class=" input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"
                                       name="username" id="login_username" placeholder="Your email address" type="text" required="required">
                            </div>

                            <!-- Password -->
                            <div class="flex flex-row justify-center py-2">
                                <label for="login_password"></label>
                                <input class="input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"
                                       name="password" id="login_password" placeholder="Password" type="password" required="required">
                            </div>

                            <!-- Submit -->
                            <div class="flex flex-row justify-center">
                                <button type="submit" class="border-t-2 text-gray-500 text-2xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl px-3 mt-5">
                                    Log In
                                </button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>


    </div>
</div>

<p th:if="${param.logout}" class="text-gray-500 text-2xl mx-auto mb-3 flex flex-row justify-center">
    You have successfully logged out.
</p>


<script src="../../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>


<style>
    input[type=text] {
        color: #a0aec0;
    }

    input[type=date] {
        color: #a0aec0;
    }

    input[type=password] {
        color: #a0aec0;
    }

    input[type=email] {
        color: #a0aec0;
    }
</style>
