<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../static/css/styles.css" rel="stylesheet" th:href="@{css/styles.css}">
    <link href="../../static/css/white_dark.css" rel="stylesheet" th:href="@{css/white_dark.css}">
    <meta charset="UTF-8">
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">

<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">üzeneteSZTEk</h1>
        <label for="Search"></label>
        <input class="float-right my-4 mx-2 bg-teal-800 hat" id="Search" placeholder="Search..." type="text">
    </div>
</header>
<div class="bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 bord hat">
    <nav class="space-x-56">
        <a class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov"
           href="/">Main</a>
        <a class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov"
           href="profile">Profile</a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov"
           href="topics">Topic</a>
    </nav> <!--menu buttons-->
</div>

<div class="flex flex-row-reverse">
    <button class="absolute" id="toggle-white-mode"></button>

    <label class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current switch space-x-1 px-1at  hat bord"
           for="toggle-white-mode">
        <i class="text-teal-700 relative"><img height="20" src="../../static/images/dark_mode.png" width="20"></i>
        <i class="text-teal-700 relative"><img height="20" src="../../static/images/white_mode.png" width="20"></i>
        <!--white/dark theme button-->
    </label>
</div>

<div class="w-10/12 border-t-4 border-blue-800 rounded-3xl justify-center m-auto bord">
    <div class="w-8/12 justify-center m-auto ">

        <!-- Switch Login/Register -->
        <div class="py-4 flex">

            <!-- Login Button -->
            <div class="flex flex-row m-auto">
                <button class="toggle-btn border-l-2 border-r-2 rounded-2xl border-blue-800 text-3xl px-4 text-gray-500 szov bord" onclick="showLogin()">
                    Login
                </button>
            </div>

            <!-- Register Button -->
            <div class="flex flex-row-reverse m-auto">
                <button class="toggle-btn border-l-2 border-r-2 rounded-2xl border-blue-800 text-3xl px-4 text-gray-500 szov bord" onclick="showRegister()">
                    Register
                </button>
            </div>

        </div>

        <!-- Input Fields -->
        <div class="flex flex-row justify-center py-4">
            <div class=" border-r-4 border-t-4 border-blue-800 rounded-3xl bord formbox">

                <p th:if="${param.logout}">You have successfully logged out.</p>

                <div class="absolute" id="log">

                    <!-- Login -->
                    <div class="py-4 absolute">
                        <form name="login" th:action="@{/login}" method="post">

                            <!-- Email -->
                            <div class="flex flex-row justify-center py-2">

                            <!-- TODO: switch back to email based authentication -->
<!--                                <label for="login_email"></label>-->
<!--                                <input class=" input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       name="login_email" id="login_email" placeholder="Email address" type="email" required="required">-->
                                <label for="login_username"></label>
                                <input class=" input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"
                                       name="login_username" id="login_username" placeholder="Username" type="text" required="required">
                            </div>

                            <!-- Password -->
                            <div class="flex flex-row justify-center py-2">
                                <label for="login_password"></label>
                                <input class="input-field bg-transparent px-4 text-center border-4 border-blue-800 rounded-3xl bord"
                                       name="login_password" id="login_password" placeholder="Password" type="password" required="required">
                            </div>

                            <!-- Submit -->
                            <div class="flex flex-row justify-center">
                                <button type="submit" class="border-t-2 text-gray-500 text-2xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl px-3 mt-5">
                                    Log In
                                </button>
                            </div>

                        </form>
                    </div>

<!--                    &lt;!&ndash; Register &ndash;&gt;-->
<!--                    <div class="py-6 px-8 absolute input-group" id="reg">-->

<!--                        <form name="registration" th:action="@{/reg}" th:object="${user}" method="post">-->


<!--                            &lt;!&ndash; First Name &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center py-4 px-4">-->
<!--                                <label for="first_name"></label>-->
<!--                                <input class="input-field px-4 bg-transparent  text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       id="first_name" placeholder="First Name"-->
<!--                                       type="text" th:field="*{firstName}">-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Last Name &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center py-4 px-4">-->
<!--                                <label for="last_name"></label>-->
<!--                                <input class="input-field px-4 bg-transparent  text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       id="last_name" placeholder="Last name"-->
<!--                                       type="text" th:field="*{lastName}">-->
<!--                            </div>-->

<!--                            &lt;!&ndash; DOB &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center py-4 px-4">-->
<!--                                <label for="birth_Date"></label>-->
<!--                                <input class="input-field px-4 bg-transparent  text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       id="birth_Date" type="date" th:field="*{dateOfBirth}"> &lt;!&ndash; TODO: date description placeholder &ndash;&gt;-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Email &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center py-4 px-4">-->
<!--                                <label for="reg_Email"></label>-->
<!--                                <input class="input-field px-4 bg-transparent  text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       id="reg_Email" placeholder="Email address"-->
<!--                                       type="email" th:field="*{email}">-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Password &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center py-4 px-4">-->
<!--                                <label for="reg_Password"></label>-->
<!--                                <input class="input-field px-4 bg-transparent  text-center border-4 border-blue-800 rounded-3xl bord"-->
<!--                                       id="reg_Password" placeholder="Password"-->
<!--                                       type="password" th:field="*{password}">-->
<!--                            </div>-->

<!--                            &lt;!&ndash; Submit &ndash;&gt;-->
<!--                            <div class="flex flex-row justify-center">-->
<!--                                <button type="submit" class="border-t-2 text-gray-500 text-2xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl px-3 mt-5">-->
<!--                                    Submit-->
<!--                                </button>-->
<!--                            </div>-->

<!--                            &lt;!&ndash; TODO: add hidden form inputs for user object vreation on non-required fields &ndash;&gt;-->
<!--                        </form>-->
<!--                    </div>-->

                </div>

            </div>

        </div>


    </div>
</div>


<script src="../../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>


<style>
    input[type=text] {
        color: #a0aec0;
    }

    input[type=date] {
        color: #a0aec0;
    }

    input[type=password] {
        color: #a0aec0;
    }

    input[type=email] {
        color: #a0aec0;
    }
</style>
