<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="${cssPath}">
    <link rel="stylesheet" href="../static/css/whitedark.css" th:href="${whiteThemePath}">
    <meta charset="UTF-8">
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">

<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">üzeneteSZTEk</h1>
    </div>
</header>

<div class="flex flex-row-reverse">
    <button id="toggle-white-mode" class="absolute"></button>

    <label for="toggle-white-mode" class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current label hat bord">
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/darkmode.png" th:src="${darkMode}"></i>
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/whitemode.png" th:src="${whiteMode}"></i> <!--white/dark theme button-->
    </label>
</div>

<div class="border-b-4 border-t-4 border-blue-800 rounded-2xl m-12 mx-32 py-2 bord"> <!--main div's start-->
    <div class="text-gray-500 border-b-4 rounded-2xl mx-16 py-8 px-5 border-teal-700 text-2xl szov bord2">
        <article class="relative">
            <header class="flex flex-row justify-center mb-5 pb-5 relative">
                <p><img th:src="${errorImage}" src="../static/images/error_img.png"></p>
                <div><div th:text="${status}" style="justify-content: center;
                    align-items: center;
                    display: flex;
                    position: absolute;
                    top: 40%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    font-size: 2.3em;">
                    errorCode
                </div></div>
            </header>
            <section class="flex flex-row justify-center mb-5 pb-5">
                <p th:text="${message}">message</p>
                <p th:text="${#dates.format(timestamp, 'yyyy.MM.dd: HH:mm')}">timestamp</p>
            </section>
            <!-- ErrorCode status -->
            <section class="flex flex-row justify-center mb-5 pb-5 relative">
            </section>

            <footer class="flex flex-row right-0 mb-2 absolute"> <!--Back to Main Page href-->
                <p th:text="${#dates.format(timestamp, 'yyyy.MM.dd: HH:mm')}">timestamp</p>
            </footer>
        </article>

    </div>
</div>
<div class="flex inline-block justify-center  text-2xl text-gray-500">
    <a href="/" class="border-b-4 rounded-2xl border-blue-800 px-3 szov bord">Back to Main Page</a>
</div>


<script src="../static/js/main.js" th:src="${themeSwitch}"></script>



</body>
</html>
