<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{css/styles.css}">
    <link href="../static/css/white_dark.css" rel="stylesheet" th:href="@{css/white_dark.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This pages is the index page of the üzeneteSZTEk webapplication which lists various topics and posts based on user settings."/>
    <title>üzeneteSZTEk</title>
</head>

<body class="bg-gray-800">
<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">
            üzeneteSZTEk
        </h1>
        <!--- TODO: href thymeleaf --->
        <button class="float-right my-4 mx-8 px-5 border-t-2 text-gray-500 text-xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl">
            Log Out
        </button>
    </div>
</header>
<div class="bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 hat bord">
    <nav class="space-x-56">
        <a class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bg-teal-900 szov bord">
            Main
        </a>
        <a class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord" th:href="@{/profile}">
            Profile
        </a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord" th:href="@{/topics}">
            Topics
        </a>
    </nav>
</div>
<div class="flex flex-row-reverse">
    <!-- White/Dark Theme Button -->
    <button class="absolute" id="toggle-white-mode"></button>
    <label class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current label hat bord" for="toggle-white-mode">
        <i class="text-teal-700 relative"><img height="20" src="../static/images/dark_mode.png" th:src="@{images/dark_mode.png}"
                                               width="20">
        </i>
        <i class="text-teal-700 relative"><img height="20" src="../static/images/white_mode.png" th:src="@{images/white_mode.png}"
                                               width="20">
        </i>
    </label>
</div>
<!-- Post New Topic -->
<div class="flex flex-row justify-center mx-32 my-16 border-t-4 border-b-4 border-blue-800 bg-current rounded-2xl py-3 hat bord">

    <div class="w-11/12">
        <div class="flex flex-row justify-center">
            <button class="border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 p-2 szov hat" id="dropDown"
                    onclick="dropDown()">
                Create New Topic
            </button>
        </div>
        <!-- On Dropdown -->
        <div class="text-gray-500" id="drop" style="display: none;">

            <div class=" pt-4 flex flex-row justify-center">
                <label for="topicTitle"></label>
                <input class="border-2 border-blue-800 rounded-3xl px-1 bg-current text-center text-2xl w-9/12 szov hat" id="topicTitle"
                       placeholder="Topic Title"
                       type="text">
            </div>

            <div class="pt-4 pb-4 flex flex-row justify-center">
                <label for="mainContent"></label>
                <textarea class=" border-2 border-blue-800 rounded-3xl px-1 bg-current text-2xl szov hat w-9/12" id="mainContent" name="mainContent"
                          rows="3" cols="50" placeholder="Topic Description">
                </textarea>
            </div>

            <div class="mx-40">

                <button class="border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 float-right p-2 szov hat">
                    Submit
                </button>

                <input id="file" placeholder="File upload" style="display: none;" type="file">
                <label class="bg-transparent border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 float-left p-2 szov hat"
                       for="file">
                    Upload File
                </label>
            </div>

        </div>
    </div>
</div>

<!-- List Of Existing Topics -->
<div class="border-b-4 border-t-4 border-blue-800 rounded-2xl m-12 mx-32 py-5 bord">
    <div class="text-gray-500 mx-16 py-8 px-5 text-2xl szov">

        <article class="container mx-auto border-teal-700 border-r-4 rounded-2xl bord my-3 px-3 bord2 mt-5"
                 th:each="topic : ${topicsWithPosts.keySet()}">

            <!-- Topic -->
            <header class="flex relative">

                <!-- Topic's Name -->
                <div class="text-2xl container text-center absolute">
                    <b>
                        <a href="topic_details.html" th:href="@{/topics/{id}(id=${topic.getId()})}"
                           th:text="${topic.getName()}">
                            Topic Name
                        </a>
                    </b>
                </div>

                <!-- Topic Poster's Name -->
                <div class="flex text-2xl relative">
                    <img class="my-3 ml-2 mr-1 rounded-2xl border-blue-800 border-l-2 bord" height="50"
                         src="../static/images/profile_pic.jpg" th:src="${topic.getUser().getProfilePicture()}" width="50">
                    <a href="#" th:href="@{/user/{id}(id=${topic.getUser().getId()})}">
                        <p class="pr-3 mt-4 ml-1 text-xl" th:text="${topic.getUser().getFullName()}">
                            Poster Name
                        </p>
                    </a>
                </div>

            </header>
            <!-- TODO: href th:text content -->

            <p  class="ml-24 mb-3">
                LOREM IPSUM
            </p>

            <!-- Posts -->
            <section class="bg-current hat ml-10 rounded-2xl relative">

                <article class="bord px-3 py-10 border-b-4 border-blue-800 rounded-2xl hat" th:each="post : ${topicsWithPosts.get(topic)}">

                    <!-- Upvote Button/Counter -->
                    <div class="flex right-0 absolute mr-4 mt-2">
                        <button>
                            <img border="0" class="mr-1 border-2 border-blue-800 rounded-2xl bord" height="30px" src="../static/images/upvote.png"
                                 th:src="@{images/upvote.png}" width="30px">
                        </button>
                    </div>

                    <br>

                    <!-- TODO: show actual number of likes here -->
                    <div class="text-sm flex absolute right-0 mr-3 mt-2">#Likes</div>

                    <!-- Topic Poster -->
                    <header class="flex">
                        <div class="flex flex-row inline-block text-xl">
                            <img class=" mr-1 rounded-2xl border-blue-800 border-l-2 bord" height="40"
                                 src="../static/images/profile_pic.jpg" th:src="${post.getUser().getProfilePicture()}" width="40">
                            <a href="#" th:href="@{/user/{id}(id=${post.getUser().getId()})}">
                                <p class="pr-3 mt-1 ml-1" th:text="${post.getUser().getFullName()}">
                                    Poster Name
                                </p>
                            </a>
                        </div>
                    </header>

                    <!-- Content -->
                    <p class="ml-5 mt-3" th:utext="${#strings.replace( #strings.escapeXml( post.getTextContent() ),T(java.lang.System).getProperty('line.separator'),
                            '&lt;br /&gt;')}">
                        Post content
                    </p>

                    <!-- Date -->
                    <footer>
                        <p class="flex-row-reverse flex text-sm"
                           th:text="${#dates.format(post.getTimestamp(), 'yyyy.MM.dd: HH:mm')}">2020/10/28 16:51</p>
                    </footer>
                </article>
            </section>
        </article>
    </div>
</div>


<script src="../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>
