<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{css/styles.css}">
    <link href="../static/css/white_dark.css" rel="stylesheet" th:href="@{css/white_dark.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This profile page describes the topics and public personal information of the user that logged in to the site recently. Here he/she can change his/her personal data and start a new topic as well."/>
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">
<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">
            üzeneteSZTEk
        </h1>
        <!--- TODO: href thymeleaf --->
        <form sec:authorize="isAuthenticated()" form-method="post" th:action="@{/logout}">
            <button type="submit" class="float-right my-4 mx-8 px-5 border-t-2 text-gray-500 text-xl bord szov border-blue-800 border-r-2 rounded-3xl shadow-2xl">
                Log Out
            </button>
        </form>
    </div>
</header>

<div>
    <div class=" bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 hat bord szov">
        <a class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 bord border-blue-800 shadow-2xl szov"
           th:href="@{/}">
            Main
        </a>
        <a class="text-gray-500 bg-teal-900 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl bord border-b-2 border-blue-800 shadow-2xl szov">
            Profile
        </a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 bord border-blue-800 shadow-2xl szov"
           th:href="@{/topics}">
            Topics
        </a>
    </div>
</div>

<div class="flex flex-row-reverse">
    <button class="absolute" id="toggle-white-mode"></button>

    <label class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current hat label hat bord"
           for="toggle-white-mode">
        <i class="text-teal-700 relative"><img alt="Dark mode toggle button" height="20" src="../static/images/dark_mode.png" th:src="@{images/dark_mode.png}"
                                               width="20">
        </i>
        <i class="text-teal-700 relative"><img alt="White mode toggle button" height="20" src="../static/images/white_mode.png" th:src="@{images/white_mode.png}"
                                               width="20">
        </i> <!--white/dark theme button-->
    </label>
</div>

<div class="text-gray-500 szov">
    <div class="ml-24 w-4/12 float-left">
        <div class="border-t-4 border-l-4 border-r-4 border-blue-800 rounded-2xl bord">
            <div class="text-center py-2">Update profile picture</div>      <!--Uploading photo-->
            <div>
                <img alt="Profile picture of the user" class="rounded-3xl block m-auto py-2 " height="200" id="user_Pic"
                     src="../public/pics/profile_pic.jpg" th:src="@{images/profile_pic.jpg}" width="200">
            </div>
            <div class="text-gray-500 text-center py-2 szov" th:text="${user.getFullName()}">     <!--User's name-->
                Name
            </div>


        </div>

        <div class="border-r-4 border-b-4 border-l-4 text-center border-blue-800 rounded-2xl bord py-2">
            <!--Followed topics by the user-->
            <div class="py-2">
                You are following these topics:
            </div>
            <div th:each="topic : ${user.getFollowTopics()}" class="flex relative justify-center ml-12 border-b-4 border-t-4 border-teal-700 rounded-2xl py-2 w-9/12 block inline-block mt-2 shadow-2xl bord">
                <a th:href="@{/topics/{id}(id=${topic.getId()})}" th:text="${topic.getName()}">
                    Topic's name as link
                </a>

                <form sec:authorize="isAuthenticated()" th:action="@{/profile/unfollow/{id}(id=${topic.getId()})}" method="post">
                    <!-- Follow Button -->
                    <div class="flex">
                        <button alt="Follow button" border="0" class="flex absolute text-sm border-2 border-teal-600 rounded-2xl px-2 shadow-xl ml-3 content-center left-0" type="submit">
                            unfollow
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="w-6/12 float-right mr-24 border-4 border-blue-800 rounded-2xl bord">
        <div class="flex flex-row justify-center mx-10 my-16 border-t-4 border-b-4 border-blue-800 bg-current rounded-2xl py-3 hat bord">
            <!--   <input class="bg-current text-center text-2xl szov hat" type="text" placeholder="Posting..."> -->
            <div class="w-11/12">
                <div class="flex flex-row justify-center">
                    <button class="border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 p-2 hat szov" id="dropDown"
                            onclick="dropDown()">
                        Posting...
                    </button>
                </div>
                <div class="text-gray-500" id="drop" style="display: none;">
                    <div class=" pt-4 flex flex-row justify-center">
                        <label for="topicTitle">
                        </label>
                        <input class="border-2 border-blue-800 rounded-3xl px-1 bg-current text-center text-2xl w-9/12 szov hat" id="topicTitle"
                               placeholder="Topic's title" type="text">
                    </div>
                    <div class="pt-4 pb-4 flex flex-row justify-center">
                        <label for="mainContent">
                        </label>
                        <textarea class=" border-2 border-blue-800 rounded-3xl px-1 bg-current text-2xl szov hat w-9/12" id="mainContent"
                                  name="textarea" placeholder="Posting" rows="3">
                        </textarea>
                    </div>
                    <div class="mx-20">
                        <button class="border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 float-right p-2 hat szov">
                            Submit
                        </button>
                        <input id="file" placeholder="File upload" style="display: none;" type="file">
                        <label class="bg-transparent border-2 border-blue-800 bg-current rounded-3xl text-center text-gray-500 float-left p-2 hat szov"
                               for="file">
                            Choose a file
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-b-4 border-t-4 border-teal-700 rounded-2xl mx-12 mb-6 text-center bord">
            <article class="container mx-auto border-teal-700 border-r-4 border-l-4 rounded-2xl bord my-3 px-3 bord2 mt-5"
                     th:each="topic : ${user.getTopics()}">

                <header class="flex relative justify-center">
                    <div class="text-2xl container text-center absolute">      <!--Topic's name-->
                        <b><a href="topic_details.html" th:href="@{/topics/{id}(id=${topic.getId()})}"
                              th:text="${topic.getName()}">
                            Notified topic's name
                        </a>
                        </b>
                    </div>
                    <p th:text="${topic.getDescription()}" class="flex mt-10">
                        LOREM IPSUM
                    </p>
                </header>



            </article>

            </section>


            </article>
        </div>
    </div>
</div>

<script src="../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>
