<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/whitedark.css" th:href="@{css/whitedark.css}">
    <meta charset="UTF-8">
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">

<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">üzeneteSZTEk</h1>
        <label for="Search"></label>
        <input id="Search" class="float-right my-4 mx-2 bg-teal-800 hat" type="text" placeholder="Search...">
    </div>
</header>
<div class="bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 bord hat" >
    <nav class="space-x-56">
        <a href="/" class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov">Main</a>
        <a href="profile" class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord">Profile</a>
        <a href="topic" class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bord szov">Topic</a>
    </nav> <!--menu buttons-->
</div>

<div class="flex flex-row-reverse">
    <button id="toggle-white-mode" class="absolute"></button>

    <label for="toggle-white-mode" class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current label hat bord">
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/darkmode.png" th:src="@{images/darkmode.png}"></i>
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/whitemode.png" th:src="@{images/whitemode.png}"></i> <!--white/dark theme button-->
        <div class="absolute bg-gray-400 rounded-3xl w-5 h-5 ball"></div>
    </label>
</div>

<div class="border-b-4 border-t-4 border-blue-800 rounded-2xl m-12 mx-32 py-20 bord"> <!--main div's start-->
    <div class="text-gray-500 text-2xl">

        <article class="relative bg-current border-4 border-t-0 border-b-0 border-blue-800 rounded-b-3xl rounded-l-xl rounded-r-xl px-5 hat bord">
            <header class="flex">
                <img src="../static/images/profpic.jpg" width="50" height="50" class="my-3 ml-2 mr-1 rounded-2xl">
                <div class="flex flex-row inline-block text-2xl mt-3 ml-3">      <!--Topic's Name-->
                    <p>Choosen topic's name</p>
                </div>
                <div class="flex flex-row-reverse inline-block text-xl mt-5 postername absolute">      <!--Poster's name-->
                    <p>By Poster's Name</p>
                </div>
            </header>

            <section class="border-blue-800 flex bord">
                <div class="flex flex-row-reverse inline-block">
                    <button><img border="0" width="30px" height="30px" src="../static/images/upvote.png"></button> <!--upvote-->
                </div>
                <p class="my-2 mx-10 text-xl py-5">Topic's content...</p>       <!--Topic's content-->
            </section>

            <footer>
                <p class=" flex flex-row-reverse text-sm">2020/10/28 16:51</p> <!--Topic's publication date-->
            </footer>
        </article>

        <article class=" relative bg-current border-4 border-t-0 border-b-0 border-blue-800 rounded-b-3xl rounded-l-xl rounded-r-xl ml-20 mt-5 px-5 hat bord">
            <header class="flex">
                <img src="../static/images/profpic.jpg" width="50" height="50" class="my-3 ml-2 mr-1 rounded-2xl">
                <div class="flex flex-row inline-block text-2xl mt-5 absolute ml-20">      <!--Topic's Name-->
                    <p>Subtopic's name</p>
                </div>
                <div class="flex flex-row-reverse inline-block text-xl mt-5 postername absolute">      <!--Poster's name-->
                    <p>By Poster's Name</p>
                </div>
            </header>

            <section class="border-blue-800 flex bord">
                <div class="flex flex-row-reverse inline-block">
                    <button><img border="0" width="30px" height="30px" src="../static/images/upvote.png" th:src="@{images/upvote.png}"></button>    <!--subtop upvote-->
                </div>
                <p class="my-2 mx-10 text-xl py-5">Topic's content...</p>       <!--Subtopic's content-->
            </section>

            <footer>
                <p class=" flex flex-row-reverse text-sm">2020/10/28 16:51</p> <!--subtopic's publication date-->
            </footer>
        </article>


        <div>
            <input class="bg-current hat border-t-0 border-4 border-gray-400 bg-transparent rounded-b-2xl rounded-l-xl rounded-r-xl py-5 px-10 mt-10 bord2 szov" type="text" placeholder="Post subtopic...">
        </div>
    </div>
</div>

<script src="../static/js/main.js" th:src="@{js/main.js}"></script>


</body>
</html>
