<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}">
    <link rel="stylesheet" href="../static/css/whitedark.css" th:href="@{css/whitedark.css}">
    <meta charset="UTF-8">
    <title>üzeneteSZTEk</title>
</head>
<body class="bg-gray-800">

<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">üzeneteSZTEk</h1>
        <label for="Search"></label>
        <input id="Search" class="float-right my-4 mx-2 bg-teal-800 hat" type="text" placeholder="Search...">
    </div>
</header>
<div class="bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 hat" >
    <nav class="space-x-56">
        <a href="/" class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord">Main</a>
        <a href="profile" class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord">Profile</a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl bg-teal-900 szov bord">Topic</a>
    </nav> <!--menu buttons-->
</div>

<div class="flex flex-row-reverse">
    <button id="toggle-white-mode" class="absolute"></button>

    <label for="toggle-white-mode" class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current label hat bord">
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/darkmode.png" th:src="@{images/darkmode.png}"></i>
        <i class="text-teal-700 relative"><img width="20" height="20" src="../static/images/whitemode.png" th:src="@{images/whitemode.png}"></i> <!--white/dark theme button-->
    </label>
</div>

<div class="container mx-auto my-5 h-auto justify-center border-l-2 border-r-2 border-blue-800 rounded-2xl py-3 bord">  <!--main div's start--->
    <header>
        <p class="flex-row flex justify-center text-3xl text-gray-500 border-l-2 border-r-2 border-b-4 border-blue-800 rounded-2xl px-3 mx-5 bord szov">Topics</p>
    </header>

    <div class="border-b-4 border-t-4 border-blue-800 rounded-2xl m-12 mx-32 py-5 bord szov text-gray-500">
        <article th:each="topic : ${topics}" class="container mx-auto border-teal-700 border-r-4 rounded-2xl bord my-3 px-3 bord2 mt-5">
            <header class="flex relative">
                <div class="flex text-2xl relative">      <!--Poster's Name-->
                    <img th:src="${topic.getUser().getProfilePicture()}" src="../static/images/profpic.jpg" width="50" height="50" class="my-3 ml-2 mr-1 rounded-2xl border-blue-800 border-l-2 bord">
                    <a th:href="@{/user/{email}(email=${topic.getUser().getEmail()})}" href="#"><p class="pr-3 mt-4 ml-1 text-xl" th:text="${topic.getUser().getFullName()}">By Poster's Name</p></a>
                </div>

                <div class="text-2xl container text-center absolute">      <!--Topic's name-->
                    <b><a th:href="@{/topics/{name}(name=${topic.getName()})}" href="topicdetails.html" th:text="${topic.getName()}">Notified topic's name</a></b>
                </div>
            </header>
            <!-- Follow Button -->
            <button><img border="0" width="40px" height="40px" src="../static/images/follow.png" th:src="@{../images/follow.png}" class="flex absolute mt-8"></button>
            <section class="bg-current hat ml-16 rounded-2xl relative">
                <!-- upvote button/counter -->
                <div class="flex right-0 absolute mr-4 mt-2">
                    <button><img border="0" width="30px" height="30px" src="../static/images/upvote.png" th:src="@{images/upvote.png}" class="mr-1 border-2 border-blue-800 rounded-2xl bord"></button>
                </div>
                <br>
                <div class="text-sm flex absolute right-0 mr-3 mt-2">counter</div>
                <!--        For Each Post In Topic                -->
 
               <article th:each="post : ${topic.getPosts()}" class="bord px-3 py-10 border-b-4 border-blue-800 rounded-2xl hat ">
                <header class="flex">
                            <div class="flex text-xl absolute top-0 mt-2">   
                                <img th:src="${post.getUser().getProfilePicture()}" src="../static/images/profpic.jpg" width="40" height="40" class=" mr-1 rounded-2xl border-blue-800 border-l-2 bord">
                                <a th:href="@{/user/{email}(email=${post.getUser().getEmail()})}" href="#"><p class="pr-3 mt-1 ml-1" th:text="${post.getUser().getFullName()}">Name</p></a>
                            </div>
                </header>
                        <p th:text="${post.getTextContent()}" >LOREM IPSUM</p>  
                    <footer class="flex absolute right-0 bottom-0 mb-1 mr-1"> 
                            <p class=" flex text-sm" th:text="${#dates.format(post.getTimestamp(), 'yyyy.MM.dd: HH:mm')}">2020/10/28 16:51</p>
                     </footer>
                </article>
            </section>


        </article>

    </div>
</div>      <!--main div's end-->


<script src="../static/js/main.js" th:src="@{js/main.js}"></script>

</body>
</html>
