<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{../css/styles.css}">
    <link href="../static/css/white_dark.css" rel="stylesheet" th:href="@{../css/white_dark.css}">
    <meta charset="UTF-8">
    <title>üzeneteSZTEk</title>

</head>
<body class="bg-gray-800">
<header>
    <div>
        <h1 class="text-3xl text-teal-700 flex flex-row py-3 px-5 float-left szov">üzeneteSZTEk</h1>
        <label for="Search"></label>
        <input class="float-right my-4 mx-2 bg-teal-800 hat" id="Search" placeholder="Search..." type="text">
    </div>
</header>

<div>
    <div class=" bg-current flex flex-row justify-center py-3 space-x-56 text-2xl border-b-2 border-blue-800 rounded-2xl shadow-2xl my-3 hat bord szov">
        <a class="text-gray-500 inline-block text-left px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 bord border-blue-800 shadow-2xl szov"
           th:href="@{/}">Main</a>
        <a class="text-gray-500 inline-block text-center px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 border-blue-800 shadow-2xl szov bord"
           th:href="@{/profile}">Profile</a>
        <a class="text-gray-500 inline-block text-right px-2 py-0 hover:bg-gray-700 rounded-3xl border-b-2 bord border-blue-800 shadow-2xl szov"
           th:href="@{/topics}">Topic</a>
    </div>
</div>

<div class="flex flex-row-reverse">
    <button class="absolute" id="toggle-white-mode"></button>

    <label class="flex mr-16 border-blue-800 border-2 border-blue-800 rounded-3xl bg-current hat label hat bord"
           for="toggle-white-mode">
        <i class="text-teal-700 relative"><img height="20" src="../static/images/dark_mode.png" th:src="@{../images/dark_mode.png}"
                                               width="20"></i>
        <i class="text-teal-700 relative"><img height="20" src="../static/images/white_mode.png" th:src="@{../images/white_mode.png}"
                                               width="20"></i> <!--white/dark theme button-->
    </label>
</div>


<div class="text-gray-500 szov">
    <div class="ml-24 w-4/12 float-left">
        <div class="border-t-4 border-l-4 border-r-4 border-blue-800 rounded-2xl bord">
            <!--Uploading photo-->
            <div>
                <img alt="kugya" class="rounded-3xl block m-auto py-2 " height="200" id="user_Pic"
                     src="../public/pics/profpic.jpg" th:src="${user.profilePicture}" width="200">
            </div>
            <div class="text-gray-500 text-center py-2 szov" id="user_Name" th:text="${user.getFullName()}">
                <!--User's name-->
                Name
            </div>
            <div class="text-gray-500 text-center py-2 szov" id="Interests">     <!--Something of the User-->
                Interests
            </div>
            <div class="text-gray-500 text-center py-2 szov" id="Details">       <!--Details(birth date, university)-->
                Details
            </div>


        </div>

        <div class="border-r-4 border-b-4 border-l-4 text-center border-blue-800 rounded-2xl bord py-2">
            <!--Followed topics by the user-->
            <div class="py-2">
                You are following these topics:
            </div>
            <div class="border-b-4 border-t-4 border-teal-700 rounded-2xl py-2 w-9/12 block inline-block mt-2 shadow-2xl bord"
                 th:each="topic : ${user.getFollowTopics()}">
                <a href="" th:text="${topic.getName()}">Topic's name as link</a>
            </div>
        </div>


    </div>

    <div class="w-6/12 float-right mr-24 border-4 border-blue-800 rounded-2xl bord">
        <!--  <div class="flex flex-row justify-center mx-32 my-16 border-t-4 border-b-4 border-blue-800 bg-current hat rounded-2xl py-3 bord"> -->
        <article class="container mx-auto border-teal-700 border-r-4 rounded-2xl bord my-3 px-3 bord2 mt-5"
                 th:each="topic : ${topicsPosted.keySet()}">

            <header class="flex relative">
                <div class="text-2xl container text-center absolute">      <!--Topic's name-->
                    <b><a href="topic_details.html" th:href="@{/topics/{id}(id=${topic.getId()})}"
                          th:text="${topic.getName()}">Notified topic's name</a></b>
                </div>
                <div class="flex relative text-xl">
                    <img class="my-3 ml-2 mr-1 rounded-2xl border-blue-800 border-l-2 bord" height="50"
                         src="../static/images/profile_pic.jpg" th:src="${topic.getUser().getProfilePicture()}" width="50">
                    <a href="#" th:href="@{/user/{id}(id=${topic.getUser().getId()})}"><p
                            class="pr-3 mt-4 ml-1 text-xl" th:text="${topic.getUser().getFullName()}">Name</p></a>
                </div>

            </header>
            <button><img border="0" class="flex mt-8 absolute" height="40px" src="../static/images/follow.png"
                         th:src="@{../images/follow.png}" width="40px"></button>

            <!-- Follow Button -->
            <section class="bg-current hat ml-16 rounded-2xl relative">
                <article class="bord px-3 py-4 border-b-4 border-blue-800 rounded-2xl hat "
                         th:each="post : ${topicsPosted.get(topic)}">
                    <!-- upvote button/counter -->
                    <div class="flex right-0 absolute mr-4 mt-2">
                        <button><img border="0" class="mr-1 border-2 border-blue-800 rounded-2xl bord" height="30px" src="../static/images/upvote.png"
                                     th:src="@{../images/upvote.png}"
                                     width="30px"></button>
                    </div>
                    <br>
                    <div class="text-sm flex absolute right-0 mr-3 mt-2">counter</div>
                    <header class="flex">
                        <div class="flex flex-row inline-block text-xl">
                            <img class=" mr-1 rounded-2xl border-blue-800 border-l-2 bord" height="40"
                                 src="../static/images/profile_pic.jpg" th:src="${post.getUser().getProfilePicture()}" width="40">
                            <a href="#" th:href="@{/user/{id}(id=${post.getUser().getId()})}"><p
                                    class="pr-3 mt-1 ml-1" th:text="${post.getUser().getFullName()}">Name</p></a>
                        </div>
                    </header>
                    <p th:utext="${#strings.replace( #strings.escapeXml( post.getTextContent() ),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}" > LOREM IPSUM </p>
                    <footer>
                        <p class="flex-row-reverse flex text-sm"
                           th:text="${#dates.format(post.getTimestamp(), 'yyyy.MM.dd: HH:mm')}">2020/10/28 16:51</p>
                    </footer>
                </article>

            </section>


        </article>
    </div>
</div>


<script src="../static/js/main.js" th:src="@{../js/main.js}"></script>

</body>
</html>
